.Adv-container {
  display: flex;
  padding-right: 750px;
  text-align: center;
  width: 50%;
  margin: 100px auto; /* Center the container */
}

.adv-title {
  margin-top: 100px;
}

.adv-line {
  width: 70%;
  color: black;
  margin: 0 auto;
  border: 1px solid #ccc;
}

.adv-p {
  font-size: 14px;
  width: 269px;
}

.explore-btn {
  background-color: #007BFF;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 15px;
  width: 100px;
}

.explore-btn:hover {
  background-color: #0056b3;
}

.Adv-card {
  display: flex;
  padding-left: 200px;
  gap: 50px;
}

.adv-item {
  width: 300px; /* Fixed width for each item */
  height: 600px; /* Fixed height for each item */
  display: flex;
  flex-direction: column; /* Arrange items in a column */
  align-items: center; /* Center items horizontally */
}

.adv-img {
  width: 100%;
  height: 400px; /* Fixed height for images */
  object-fit: cover; /* Ensures aspect ratio is maintained */
  border-radius: 10px;
  margin-bottom: 20px;
}
