.footer-hero {
  padding: 20px;
  background-color: #070707;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  align-items: flex-start;
  gap: 50px;
  flex-wrap: wrap;
}

.footer-logo {
  flex: 1;
}

.footer-logo img {
  max-width: 100%;
  height: auto;
}

.footer-links {
  flex: 3;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}

.footer-section {
  width: 30%;
}

.footer-section h3 {
  margin-bottom: 10px;
  font-size: 1.2rem;
  color: #ddd;
}

.footer-section ul {
  font-size: 1rem;
  list-style-type: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 10px;
}

.footer-section ul li a {
  text-decoration: none;
  color: #aaa;
}

.footer-section ul li a:hover {
  color: #fff;
}

hr {
  border: 1px solid #444;
  margin: 20px 0;
}

.footer-social {
  text-align: center;
  margin-top: 20px;
}

.footer-social h3 {
  margin-bottom: 10px;
  color: #ddd;
}

.social-icons {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 15px;
}

.social-icons li a {
  font-size: 1.5rem;
  color: #aaa;
  text-decoration: none;
}

.social-icons li a:hover {
  color: #fff;
}


.review-section {
  padding: 20px;
  background-color: #1a1a1a; 
  margin-top: 20px;
  border-top: 1px solid #444;
}

.review-section h2 {
  margin-bottom: 20px;
  font-size: 1.5rem;
  color: #ddd;
  font-weight: bold;
}

.review-section ul {
  list-style-type: none;
  padding: 0;
}

.review-section .review {
  padding: 15px;
  background-color: #222; 
  margin-bottom: 10px;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.review-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.review-username {
  font-weight: bold;
  color: #fff;
}

.review-rating {
  color: #ffcc00;
}

.review-comment {
  margin-top: 10px;
  font-style: italic;
  color: #ddd;
}


@media (max-width: 768px) {
  .review-section {
    padding: 15px;
    margin-top: 15px;
  }

  .review-section h2 {
    font-size: 1.2rem;
  }

  .review-section .review {
    padding: 12px;
  }
}
