

/* Full-Width Footer Hero Styling */
.footer-hero {
  width: 100%;
  background-color: black;
  padding: 60px 0;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  background-attachment: fixed;
}

.footer-logo img {
  max-width: 200px;
  color: #FFFFFF;
}

.footer-links {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}

.footer-section {
  flex: 1;
  min-width: 200px;
  margin: 0 20px;
}

.footer-section h3 {
  font-size: 1.2em;
  margin-bottom: 10px;
  color: #FFFFFF;
}

.footer-section ul {
  list-style-type: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 8px;
}

.footer-section ul li a {
  text-decoration: none;
color: #FFFFFF;
  transition: color 0.3s ease;
}

.footer-section ul li a:hover {
  color: #0073aa;
}


@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    text-align: center;
  }

  .footer-section {
    margin-bottom: 30px;
  }
}
