@keyframes moveImage {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(20px);
  }
}


.mothercity {
  padding: 30px;
  background-color: #FFFFFF(0, 100%, 99%);
  margin: 20px auto;
  max-width: 1200px;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(248, 248, 248, 0);
}

.mothercity-content {
  display: flex;
  align-items: center;
  gap: 10px;
}

.mothercity-text {
  flex: 1;
  text-align: left;
}

.mothercity-title {
  font-size: 2.5rem;
  margin-bottom: 15px;
  color: #333;
}

.mothercity-description {
  font-size: 18px;
  line-height: 1,5;
  color: #555;
width: 574px;
}

.mothercity-button {
  background-color: #007bff;
  width: 100px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.5s ease;
}

.mothercity-button:hover {
  background-color: #0056b3;
}

.mothercity-image-container {
  flex: 1;
  max-width: 50%;
}

.mothercity-image {
  width: 600px;
  max-height: 1000px;
  object-fit: cover;
  border-radius: 10px;
}
